{% extends "base.html" %}
{% block title %}添加内网服务器{% endblock %}
{% block inneradd %}active{% endblock %}
{% block main %}
    <div class="col-md-10 col-md-offset-2 right">
        <ol class="breadcrumb">
          <li><a href="/user_center/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li>添加内网服务器</li>
        </ol>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
        <div class="col-sm-8">
             <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>填写基本信息</h3>
            </div>
            <div class="ibox-content">
                <form id="innerForm" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
                <div class="form-group">
                    <label for="hostname" class="col-sm-3 control-label">主机名</label>
                    <div class="col-sm-8">
                    <input id="hostname" name="hostname" placeholder="Name" type="text" class="form-control" aria-required="true">
                     </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label for="ip" class="col-sm-3 control-label">IP</label>
                    <div class="col-sm-8">
                    <input id="ip" name="ip" placeholder="ip" type="text" class="form-control" aria-required="true">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label for="cpu" class="col-sm-3 control-label">cpu</label>
                    <div class="col-sm-8">
                    <input id="cpu" name="cpu" placeholder="cpu" type="text" class="form-control" aria-required="true">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label for="mem" class="col-sm-3 control-label">内存</label>
                    <div class="col-sm-8">
                    <input id="mem" name="mem" placeholder="mem" type="text" class="form-control" aria-required="true">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label for="disk" class="col-sm-3 control-label">硬盘</label>
                    <div class="col-sm-8">
                    <input id="disk" name="disk" placeholder="disk" type="text" class="form-control" aria-required="true">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label for="physicalHost" class="col-sm-3 control-label">宿主机</label>
                    <div class="col-sm-8">
                    <select id="physicalHost" name="physicalHost" class='multiselect dropdown-toggle btn btn-default'>
                        <option value="kvm1">kvm1</option>
                        <option value="kvm2">kvm2</option>
                        <option value="kvm3">kvm3</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user" class="col-sm-3 control-label">使用人</label>
                    <div class="col-sm-8">
                    <input id="user" name="user" placeholder="user" type="text" class="form-control" aria-required="true">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2">
                    <button id="submit_button" class="btn btn-primary">确认保存</button>
                    <button id='cancel_button' class="btn btn-white" type="reset">取消</button>
                    <button class="btn btn-white" type="reset">重置</button>
                    </div>
                </div>
                <div style="color:red" class="text-center" id="errmsg"></div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
//$('#serverForm').Validform({tiptype:3})
//$("#submit_button").click(function(){
//    var msg=$('.Validform_wrong').text()
//    var str=$("#serverForm").serialize()
//    var str1='&cabinet_id='+$('#cabinet_id').val()
//    if (!msg){
//	$.post("/serveradd/",str+str1,function(data){
//	    data=JSON.parse(data);
//	    if(data["code"] == 0){
//		swal({
//		    title:'Congratulation',
//		    text:data['result'],
//		    type:'success',
//		    confirmButtonText:'确定'
//		    },function(){
//			location.href='/server/'
//		    })
//	    }else{
//		swal('Error',data['errmsg'],'error')
//	    }
//	})
//	return false
//    }
//});

    $('#cancel_button').click(function(){
        location.href='/inner/'
    });


    $('#submit_button').click(function() {
        $.post('/inneradd/', $('#innerForm').serialize(), function (data) {
            data = JSON.parse(data);
            if(data["code"] == 0){
            swal({
                title:'Congratulation',
                text:data['result'],
                type:'success',
                confirmButtonText:'确定'
                },function(){
                location.href='/inner/'
                })
            }else{
            swal('Error',data['errmsg'],'error')
            }
        });
            return false
    })
</script>
{% endblock %}